*{
    margin-top: 0;
    padding: 0;
    font-family: sans-serif;
    
}



@import './hojas/index.scss';
@import './hojas/caballeros.scss';
@import './hojas/secciones/capitulos';
@import './hojas/secciones/temporada.scss';
@import './hojas/secciones/ini.scss';
@import './hojas/secciones/gif';
@import './mediaQuery/laptop1440';
@import './mediaQuery/laptop1024';
@import './mediaQuery/tablet768';


