@media (min-width: 1440px) {

    .index .navbar {
        background-color: #2be22fd6;
    }

    .dropdown {
        transform: translate(1532px, -1px);
    }

    .index header h1 {
        background-color: rgba(0, 0, 0, 0.677);
    }

    .index header {
        background-size: 100% 559px;
        height: 639px;
    }

    .index section p {
        max-width: 1065px;
        font-size: 1.5em;
        margin-top: -68px;
    }

    .index .series {
        height: 486px;
        background: #360404f7;
    }

    .index .series img {
        justify-content: space-evenly;
        width: 18vw;
        height: 38vh;

    }



    // Anime y series hojas

    .h-100 {
        max-width: 26vw;
    }

    // hojas de series

    .series{
        background-image: url("https://fondosmil.com/fondo/35285.jpg");
    }

    .series header {
        background-size: 100% 416px;
        height: 239px;
    }

    .series main img {
        width: 36vw;
        transform: translate(577px, -112px);
        margin-top: 112px;
    }

    .series .gif img {
        display: none;
    }

    .donacion {
        width: 9vw;
        transform: translate(26px, 85px);
    }

    .caballeros header {
        background-size: 100% 408px;
        height: 404px;
    }

    .caballeros header h1 {
        font-size: 6em;
    }

    .caballeros h2 {
        font-size: 3em;
    }

    .caballeros main img {
        width: 30vw;
        margin-bottom: -101px;
        transform: translate(661px, -112px);
    }

    .caballeros .accordion {
        max-width: 50vw;
        margin: auto;
        margin-top: 111px;
    }

    .gif_grande img {
        display: none;
    }

    .caballeros .goku {
        width: 42vw;
        transform: translate(566px, -39px);
        margin-bottom: -27px;
    }

    .caballeros .gif img {
        display: none;
    }

    .capitulos main div {
        width: 100vw;
        transform: translate(270px, 3px);
    }

    iframe {
        width: 72vw;
        height: 79vh;
    }

    .capitulos .accordion {
        max-width: 60vw;
        margin: auto;
    }

    .capitulos .btn {
        margin-top: 23px;
        margin-left: 908px;
        margin-bottom: 16px;
    }

    .temporada {
        h2 {
            margin-left: 142px;
        }
    }


    .index .donacion {
        border-radius: 80px;
        width: 14vw;
        transform: translate(827px, 13px);
    }

    // footer

    .index .text-lg-start {
        margin-top: 25px;
    }



}