@media (min-width: 1024px) and (max-width: 1439px) {

    .index .navbar {
        background-color: #2be22fd6;
    }

    .dropdown {
        transform: translate(748px, 10px);
    }



    .index header h1 {
        background-color: rgba(0, 0, 0, 0.677);
    }

    .index header {
        background-size: 100% 559px;
        height: 639px;
    }

    .index section p {
        max-width: 1276px;
        font-size: 1.5em;
        margin-top: -68px;
    }

    .index .series img {
        width: 18vw;
        height: 22vh;
    }

    .index .footer{
        margin-top: 1px;
        height: -32px;
        height: 5vh;
    }

    .index .footer p {
        margin-left: 766px;
        margin-top: 520px;
    }


    // Anime y series hojas

    

    // hojas de series

    .caballeros header {
        background-size: 100% 408px;
        height: 404px;
    }

    .caballeros header h1 {
        font-size: 6em;
    }

    .caballeros h2 {
        font-size: 3em;
    }

    .caballeros main img {
        width: 42vw;
        margin-bottom: -51px;
        transform: translate(297px, -68px);
    }

    .caballeros .accordion {
        max-width: 50vw;
        margin: auto;
        margin-top: 111px;
    }

    .gif_grande img {
        display: none;
    }

    .caballeros .goku {
        width: 42vw;
        transform: translate(553px, -39px);
        margin-bottom: -27px;
    }

    .caballeros .gif img {
        display: none;
    }

    .capitulos main div {
        width: 100vw;
        transform: translate(153px, -1px);
    }

    iframe {
        width: 72vw;
        height: 79vh;
    }

    .capitulos .accordion {
        max-width: 60vw;
        margin: auto;
    }

    .capitulos .btn {
        margin-top: 23px;
        margin-left: 483px;
        margin-bottom: 16px;
    }

    .temporada {
        h2 {
            margin-left: 142px;
        }
    }


}