@media (min-width: 768px) {

    .index .navbar {
        background-color: #2be22fd6;
    }

    .index header h1 {
        background-color: rgba(0, 0, 0, 0.677);
    }

    .index header {
        background-size: 100% 257px;
        height: 325px;
    }

    .index section p {
        max-width: 701px;
        margin-top: -78px;
    }

    .index .series img {
        width: 18vw;
        height: 22vh;
    }

    .index .footer p {
        color: black;
        font-weight: bolder;
        margin-left: 230px;
        /* margin: auto; */
        margin-top: 87px;
    }

   
    // hojas de series

    .caballeros header {
        background-size: 100% 408px;
        height: 404px;
    }

    .caballeros header h1 {
        font-size: 6em;
    }

    .caballeros h2 {
        font-size: 3em;
    }

    .caballeros main img {
        width: 30vw;
        margin-bottom: -101px;
        transform: translate(269px, -112px);
    }

    .caballeros .accordion {
        max-width: 50vw;
        margin: auto;
        margin-top: 111px;
    }

    .gif_grande img {
        display: none;
    }

    .caballeros .goku {
        width: 42vw;
        transform: translate(553px, -39px);
        margin-bottom: -27px;
    }

    .caballeros .gif img {
        display: none;
    }

    .capitulos main div {
        width: 100vw;
        transform: translate(103px, -1px);
    }

    iframe {
        width: 72vw;
        height: 79vh;
    }

    .capitulos .accordion {
        max-width: 60vw;
        margin: auto;
    }

    .capitulos .btn {
        margin-top: 15px;
        margin-left: 351px;
        margin-bottom: 10px;
    }

    .temporada {
        h2 {
            margin-left: 142px;
        }
    }


}