// tuve que hacer por que cometi un error en no ponerle class al iframe

@media only screen and (min-width: 914px) {

    main {
        div {
            transform: translate(-3px, -8px);
        }

        iframe {
            width: 100vw;

        }
    }

    .capitulos .btn {
        margin-top: 20px;
        margin-bottom: 23px;
        margin-left: 434px;
    }
}