.gruop{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-rows: 150px;
    gap: 5px;
    margin-bottom: 519px;
   

    &__foto img{
        width: 100%;
        height: 100%;
        
    }



    &__foto h6{
        font-size: 0.6em;
    text-align: center;
    color: greenyellow;
    background-color: #ffffff26;
    }
}